In [1]:
import pandas as pd
import numpy as np

In [2]:
p = '../data/'
input_name = 'cleaned.csv'
df = pd.read_csv(f'{p}{input_name}')

In [3]:
df['ctry_org'] = df['ctry_org'].str.upper()
df['ctry_ie'] = df['ctry_ie'].str.upper()
df.head()

,control_number,species_code,genus,species,wildlf_desc,wildlf_cat,cartons,qty,unit,value,...,disp_date,ship_date,i_e,pt_cd,specific_generic_name,disp_date_yyyy,disp_date_mm,ship_date_yyyy,ship_date_mm,disp_ship_date
0,2018280858,WDER,ODOCOILEUS,VIRGINIANUS,MEA,MAM,NaN_cartons,1.0,NO,500.0,...,2018-06-22,2018-06-22,I,LR,WHITE-TAILED DEER,2018,6,2018,6,0 days
1,2018301780,BLBE,URSUS,AMERICANUS,TRO,MAM,NaN_cartons,1.0,NO,0.0,...,2017-09-14,2018-06-11,I,DE,AMERICAN BLACK BEAR,2017,9,2018,6,270 days
2,2018311221,BAEA,HALIAEETUS,LEUCOCEPHALUS,FEA,EGL,NaN_cartons,2.0,NO,0.0,...,2018-06-02,2018-06-02,I,NG,BALD EAGLE,2018,6,2018,6,0 days
3,2018311221,FEHA,BUTEO,REGALIS,FEA,RAP,NaN_cartons,2.0,NO,0.0,...,2016-06-03,2018-06-02,I,NG,FERRUGINOUS HAWK,2016,6,2018,6,729 days
4,2018311221,BAOW,TYTO,ALBA,FEA,RAP,NaN_cartons,1.0,NO,0.0,...,2016-06-03,2018-06-02,I,NG,BARN OWL,2016,6,2018,6,729 days

In [4]:
def cleanup_nulls(df, column_names):
    names = column_names
    for name in names:
        df.loc[df[name].isnull(), name] = "NaN_"+name
    return df

cleanup_nulls(df, ['ctry_org','ctry_ie'])

,control_number,species_code,genus,species,wildlf_desc,wildlf_cat,cartons,qty,unit,value,...,disp_date,ship_date,i_e,pt_cd,specific_generic_name,disp_date_yyyy,disp_date_mm,ship_date_yyyy,ship_date_mm,disp_ship_date
0,2018280858,WDER,ODOCOILEUS,VIRGINIANUS,MEA,MAM,NaN_cartons,1.0,NO,500.0,...,2018-06-22,2018-06-22,I,LR,WHITE-TAILED DEER,2018,6,2018,6,0 days
1,2018301780,BLBE,URSUS,AMERICANUS,TRO,MAM,NaN_cartons,1.0,NO,0.0,...,2017-09-14,2018-06-11,I,DE,AMERICAN BLACK BEAR,2017,9,2018,6,270 days
2,2018311221,BAEA,HALIAEETUS,LEUCOCEPHALUS,FEA,EGL,NaN_cartons,2.0,NO,0.0,...,2018-06-02,2018-06-02,I,NG,BALD EAGLE,2018,6,2018,6,0 days
3,2018311221,FEHA,BUTEO,REGALIS,FEA,RAP,NaN_cartons,2.0,NO,0.0,...,2016-06-03,2018-06-02,I,NG,FERRUGINOUS HAWK,2016,6,2018,6,729 days
4,2018311221,BAOW,TYTO,ALBA,FEA,RAP,NaN_cartons,1.0,NO,0.0,...,2016-06-03,2018-06-02,I,NG,BARN OWL,2016,6,2018,6,729 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890127,2020734428,BEAV,CASTOR,CANADENSIS,GAR,MAM,5.0,842.0,NO,51732.0,...,2020-04-23,2016-09-27,I,DF,AMERICAN BEAVER,2020,4,2016,9,-1304 days
1890128,2020734428,LEEU,LEPUS,EUROPAEUS,GAR,MAM,5.0,842.0,NO,0.0,...,2020-04-23,2016-09-27,I,DF,EUROPEAN HARE,2020,4,2016,9,-1304 days
1890129,2020734428,BEAV,CASTOR,CANADENSIS,GAR,MAM,5.0,52.0,NO,9134.0,...,2020-04-23,2016-09-27,I,DF,AMERICAN BEAVER,2020,4,2016,9,-1304 days
1890130,2020734428,MINK,NEOVISON,VISON,GAR,MAM,5.0,52.0,NO,0.0,...,2020-04-23,2016-09-27,I,DF,AMERICAN MINK,2020,4,2016,9,-1304 days
1890131,2020736042,WOLF,CANIS,LUPUS,RUG,MAM,NaN_cartons,1.0,NO,4400.0,...,2016-04-14,2016-07-11,I,AN,WOLF,2016,4,2016,7,88 days

In [5]:
# bring in imf dataset
p = '../data/'
input_name = 'IMF_GDP_per_capita.csv'
imf = pd.read_csv(f'{p}{input_name}')

imf = imf[['Country','2020']]
imf.head()

       Country       2020
0  Afghanistan    611.268
1      Albania   5268.239
2      Algeria   3365.933
3      Andorra  36973.845
4       Angola   1877.251

In [6]:
# bring in country code dataset
p = '../data/'
input_name = 'key_2016.csv'
ctry = pd.read_csv(f'{p}{input_name}', encoding="cp1252").drop([275,286,287,288,289,290,291])

ctry = ctry[ctry['field']=='country']
ctry.head()

       field code                 value
209  country   AD               Andorra
210  country   AE  United Arab Emirates
211  country   AF           Afghanistan
212  country   AG     Antigua & Barbuda
213  country   AI              Anguilla

In [7]:
# merge df & ctry keys 
df_ctry = df.merge(ctry, how='left', left_on='ctry_ie', right_on='code')
df_ctry = df_ctry.rename(columns={'value_y':'ctry_ie_name'})
df_ctry.head()

,control_number,species_code,genus,species,wildlf_desc,wildlf_cat,cartons,qty,unit,value_x,...,pt_cd,specific_generic_name,disp_date_yyyy,disp_date_mm,ship_date_yyyy,ship_date_mm,disp_ship_date,field,code,ctry_ie_name
0,2018280858,WDER,ODOCOILEUS,VIRGINIANUS,MEA,MAM,NaN_cartons,1.0,NO,500.0,...,LR,WHITE-TAILED DEER,2018,6,2018,6,0 days,country,MX,Mexico
1,2018301780,BLBE,URSUS,AMERICANUS,TRO,MAM,NaN_cartons,1.0,NO,0.0,...,DE,AMERICAN BLACK BEAR,2017,9,2018,6,270 days,country,CA,Canada
2,2018311221,BAEA,HALIAEETUS,LEUCOCEPHALUS,FEA,EGL,NaN_cartons,2.0,NO,0.0,...,NG,BALD EAGLE,2018,6,2018,6,0 days,country,MX,Mexico
3,2018311221,FEHA,BUTEO,REGALIS,FEA,RAP,NaN_cartons,2.0,NO,0.0,...,NG,FERRUGINOUS HAWK,2016,6,2018,6,729 days,country,MX,Mexico
4,2018311221,BAOW,TYTO,ALBA,FEA,RAP,NaN_cartons,1.0,NO,0.0,...,NG,BARN OWL,2016,6,2018,6,729 days,country,MX,Mexico

In [8]:
ctry_dict = {'G5':'United Kingdom','G2':'United Kingdom','G4':'United Kingdom','G1':'United Kingdom',
            'G6':'United Kingdom','G3':'United Kingdom','E1':'Germany','GB':'United Kingdom'}
for k, v in ctry_dict.items():
    if df_ctry['ctry_ie'].str.contains(k).any():
        index_nums = df_ctry[df_ctry['ctry_ie']==k].index
        for index_num in index_nums:
            df_ctry.at[index_num,'ctry_ie_name']=v

In [9]:
# merge df_ctry with imf dataset
df_ctry_imf = df_ctry.merge(imf, how='left', left_on='ctry_ie_name', right_on='Country')
df_ctry_imf = df_ctry_imf.rename(columns={'2020':'2020GDP'}).drop(columns=['field','code','Country'])
df_ctry_imf

,control_number,species_code,genus,species,wildlf_desc,wildlf_cat,cartons,qty,unit,value_x,...,i_e,pt_cd,specific_generic_name,disp_date_yyyy,disp_date_mm,ship_date_yyyy,ship_date_mm,disp_ship_date,ctry_ie_name,2020GDP
0,2018280858,WDER,ODOCOILEUS,VIRGINIANUS,MEA,MAM,NaN_cartons,1.0,NO,500.0,...,I,LR,WHITE-TAILED DEER,2018,6,2018,6,0 days,Mexico,8506.909
1,2018301780,BLBE,URSUS,AMERICANUS,TRO,MAM,NaN_cartons,1.0,NO,0.0,...,I,DE,AMERICAN BLACK BEAR,2017,9,2018,6,270 days,Canada,43306.635
2,2018311221,BAEA,HALIAEETUS,LEUCOCEPHALUS,FEA,EGL,NaN_cartons,2.0,NO,0.0,...,I,NG,BALD EAGLE,2018,6,2018,6,0 days,Mexico,8506.909
3,2018311221,FEHA,BUTEO,REGALIS,FEA,RAP,NaN_cartons,2.0,NO,0.0,...,I,NG,FERRUGINOUS HAWK,2016,6,2018,6,729 days,Mexico,8506.909
4,2018311221,BAOW,TYTO,ALBA,FEA,RAP,NaN_cartons,1.0,NO,0.0,...,I,NG,BARN OWL,2016,6,2018,6,729 days,Mexico,8506.909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890127,2020734428,BEAV,CASTOR,CANADENSIS,GAR,MAM,5.0,842.0,NO,51732.0,...,I,DF,AMERICAN BEAVER,2020,4,2016,9,-1304 days,Portugal,22176.752
1890128,2020734428,LEEU,LEPUS,EUROPAEUS,GAR,MAM,5.0,842.0,NO,0.0,...,I,DF,EUROPEAN HARE,2020,4,2016,9,-1304 days,Portugal,22176.752
1890129,2020734428,BEAV,CASTOR,CANADENSIS,GAR,MAM,5.0,52.0,NO,9134.0,...,I,DF,AMERICAN BEAVER,2020,4,2016,9,-1304 days,Portugal,22176.752
1890130,2020734428,MINK,NEOVISON,VISON,GAR,MAM,5.0,52.0,NO,0.0,...,I,DF,AMERICAN MINK,2020,4,2016,9,-1304 days,Portugal,22176.752
1890131,2020736042,WOLF,CANIS,LUPUS,RUG,MAM,NaN_cartons,1.0,NO,4400.0,...,I,AN,WOLF,2016,4,2016,7,88 days,Japan,40048.930

In [11]:
cleanup_nulls(df_ctry_imf, ['ctry_ie_name'])

,control_number,species_code,genus,species,wildlf_desc,wildlf_cat,cartons,qty,unit,value_x,...,i_e,pt_cd,specific_generic_name,disp_date_yyyy,disp_date_mm,ship_date_yyyy,ship_date_mm,disp_ship_date,ctry_ie_name,2020GDP
0,2018280858,WDER,ODOCOILEUS,VIRGINIANUS,MEA,MAM,NaN_cartons,1.0,NO,500.0,...,I,LR,WHITE-TAILED DEER,2018,6,2018,6,0 days,Mexico,8506.909
1,2018301780,BLBE,URSUS,AMERICANUS,TRO,MAM,NaN_cartons,1.0,NO,0.0,...,I,DE,AMERICAN BLACK BEAR,2017,9,2018,6,270 days,Canada,43306.635
2,2018311221,BAEA,HALIAEETUS,LEUCOCEPHALUS,FEA,EGL,NaN_cartons,2.0,NO,0.0,...,I,NG,BALD EAGLE,2018,6,2018,6,0 days,Mexico,8506.909
3,2018311221,FEHA,BUTEO,REGALIS,FEA,RAP,NaN_cartons,2.0,NO,0.0,...,I,NG,FERRUGINOUS HAWK,2016,6,2018,6,729 days,Mexico,8506.909
4,2018311221,BAOW,TYTO,ALBA,FEA,RAP,NaN_cartons,1.0,NO,0.0,...,I,NG,BARN OWL,2016,6,2018,6,729 days,Mexico,8506.909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890127,2020734428,BEAV,CASTOR,CANADENSIS,GAR,MAM,5.0,842.0,NO,51732.0,...,I,DF,AMERICAN BEAVER,2020,4,2016,9,-1304 days,Portugal,22176.752
1890128,2020734428,LEEU,LEPUS,EUROPAEUS,GAR,MAM,5.0,842.0,NO,0.0,...,I,DF,EUROPEAN HARE,2020,4,2016,9,-1304 days,Portugal,22176.752
1890129,2020734428,BEAV,CASTOR,CANADENSIS,GAR,MAM,5.0,52.0,NO,9134.0,...,I,DF,AMERICAN BEAVER,2020,4,2016,9,-1304 days,Portugal,22176.752
1890130,2020734428,MINK,NEOVISON,VISON,GAR,MAM,5.0,52.0,NO,0.0,...,I,DF,AMERICAN MINK,2020,4,2016,9,-1304 days,Portugal,22176.752
1890131,2020736042,WOLF,CANIS,LUPUS,RUG,MAM,NaN_cartons,1.0,NO,4400.0,...,I,AN,WOLF,2016,4,2016,7,88 days,Japan,40048.930

In [12]:
# create a dataset = cleaned.csv + GDP values
p = '../data/'
input_name = 'cleaned_GDP.csv'
df_ctry_imf.to_csv(f'{p}{input_name}')