# Import libraries

In [1]:
import pandas as pd

# Bring in the data as separate files for the moment

In [2]:
df_2016q1 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2016Q1.2020.07.08.xlsx")

In [3]:
df_2016q2 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2016Q2.2020.07.08.xlsx")

In [4]:
df_2016q3 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2016Q3.2020.07.08.xlsx")

In [5]:
df_2016q4 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2016Q4.2020.07.08.xlsx")

In [6]:
df_2017q1 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2017Q1.2020.07.09.xlsx")

In [7]:
df_2017q2 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2017Q2.2020.07.09.xlsx")

In [8]:
df_2017q3 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2017Q3.2020.07.09.xlsx")

In [9]:
df_2017q4 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2017Q4.2020.07.09.xlsx")

In [10]:
df_2018q1 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2018Q1.2020.07.09.xlsx")

In [11]:
df_2018q2 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2018Q2.2020.07.09.xlsx")

In [12]:
df_2018q3 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2018Q3.2020.07.09.xlsx")

In [13]:
df_2018q4 = pd.read_excel("./Data/Tara/DecDetail.FOIA-FWS-2020-00366_Easter-2018Q4.2020.07.09.xlsx")

In [14]:
df_2019q1 = pd.read_excel("./Data/Tara/2019Q1.xlsx")

In [15]:
df_2019q2 = pd.read_excel("./Data/Tara/2019Q2.xlsx")

In [16]:
df_2019q3 = pd.read_excel("./Data/Tara/2019Q3.xlsx")

In [17]:
df_2020q1 = pd.read_excel("./Data/Tara/2020Q1.xlsx")

In [18]:
df_2020q2 = pd.read_excel("./Data/Tara/2020Q2.xlsx")

In [19]:
df_key = pd.read_csv("./Data/Tara/key_2016.csv", encoding="cp1252") # because mac is dumb

## Some initial stats about the files

In [23]:
df_list = [df_2016q1, df_2016q2, df_2016q3, df_2016q4, df_2017q1, df_2017q2, df_2017q3, df_2017q4, df_2018q1,
           df_2018q2, df_2018q3, df_2018q4, df_2019q1, df_2019q2, df_2019q3, df_2020q1, df_2020q2, df_key]
df_names = ["df_2016q1", "df_2016q2", "df_2016q3", "df_2016q4", "df_2017q1", "df_2017q2", "df_2017q3", "df_2017q4", "df_2018q1",
            "df_2018q2", "df_2018q3", "df_2018q4", "df_2019q1", "df_2019q2", "df_2019q3", "df_2020q1", "df_2020q2", "df_key"]

for idx,df in enumerate(df_list):
    print('{}: {} features, {} records'.format(df_names[idx], df.shape[1],df.shape[0]))

df_2016q1: 24 features, 124213 records
df_2016q2: 28 features, 128419 records
df_2016q3: 24 features, 127418 records
df_2016q4: 24 features, 132914 records
df_2017q1: 25 features, 123338 records
df_2017q2: 24 features, 128532 records
df_2017q3: 24 features, 130381 records
df_2017q4: 24 features, 137486 records
df_2018q1: 24 features, 137486 records
df_2018q2: 24 features, 127703 records
df_2018q3: 24 features, 128814 records
df_2018q4: 24 features, 137119 records
df_2019q1: 24 features, 117432 records
df_2019q2: 24 features, 126986 records
df_2019q3: 25 features, 126657 records
df_2020q1: 24 features, 106877 records
df_2020q2: 24 features, 51730 records
df_key: 3 features, 469 records

In [25]:
# compare columns to see why some have different features
for idx, df in enumerate(df_list):
    print('{} columns: {}'.format(df_names[idx], list(df.columns)))

df_2016q1 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2016q2 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27']
df_2016q3 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2016q4 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2017q1 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd', 'Unnamed: 24']
df_2017q2 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2017q3 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2017q4 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2018q1 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2018q2 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2018q3 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2018q4 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2019q1 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2019q2 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2019q3 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd', 'FSR First Name']
df_2020q1 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_2020q2 columns: ['Control\nNumber', 'Species\nCode', 'Genus', 'Species', 'Subspecies', 'Specific\nName', 'Generic\nName', 'Wildlf\nDesc', 'Wildlf\nCat', 'Cartons', 'Qty', 'Unit', 'Value', 'Ctry\nOrg', 'Ctry\nIE', 'Purp', 'Src', 'Trans Mode', 'Act', 'Dp\nCd', 'Disp\nDate', 'Ship\nDate', 'I\nE', 'Pt\nCd']
df_key columns: ['field', 'code', 'value']

In [26]:
# guess we need to check out what Unnamed 24 - 27 are...
df_2016q2.head()

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,2016827389,COYO,CANIS,LATRANS,NaN,NaN,COYOTE,SKI,MAM,59.0,...,C,C,2016-03-15,2016-04-06,E,CH,NaN,NaN,NaN,NaN
1,2016827389,COYO,CANIS,LATRANS,NaN,NaN,COYOTE,SKI,MAM,59.0,...,C,C,2016-03-15,2016-04-06,E,CH,NaN,NaN,NaN,NaN
2,2016827389,RACC,PROCYON,LOTOR,NaN,NaN,RACCOON,SKI,MAM,59.0,...,C,C,2016-03-15,2016-04-06,E,CH,NaN,NaN,NaN,NaN
3,2016827389,COYO,CANIS,LATRANS,NaN,NaN,COYOTE,SKI,MAM,59.0,...,C,C,2016-03-15,2016-04-06,E,CH,NaN,NaN,NaN,NaN
4,2016827389,COYO,CANIS,LATRANS,NaN,NaN,COYOTE,SKI,MAM,59.0,...,C,C,2016-03-15,2016-04-06,E,CH,NaN,NaN,NaN,NaN

In [27]:
# not super helpful... let's see if there is anything with a value
df_2016q2.loc[df_2016q2['Unnamed: 24'].notnull()]

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
214,2016836500,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-03-31,2016-04-01,E,MI,AQUACULTURE BIOSCIENCE TECHNOLOGY,"CO, LTD",GUOLIANG,CHEN
784,2016837348,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-04-01,2016-04-03,E,MI,GUOLIANG,CHEN,NaN,NaN
3046,2016838733,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-04-05,2016-04-06,E,MI,GUOLIANG,CHEN,NaN,NaN
5771,2016840147,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-04-07,2016-04-08,E,MI,GUOLIANG,CHEN,NaN,NaN
20218,2016846178,CMAD,CASSIS,MADAGASCARIENSIS,NaN,BLACK,HELMET,SPR,MOL,1.0,...,C,C,2016-04-19,2016-04-15,I,ME,XX,NaN,NaN,NaN
20219,2016846178,CASR,CASSIS,RUFA,NaN,HELMET,SHELL,SPR,MOL,1.0,...,C,C,2016-04-19,2016-04-15,I,ME,XX,NaN,NaN,NaN

In [28]:
df_2016q2.loc[df_2016q2['Unnamed: 25'].notnull()]

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
214,2016836500,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-03-31,2016-04-01,E,MI,AQUACULTURE BIOSCIENCE TECHNOLOGY,"CO, LTD",GUOLIANG,CHEN
784,2016837348,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-04-01,2016-04-03,E,MI,GUOLIANG,CHEN,NaN,NaN
3046,2016838733,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-04-05,2016-04-06,E,MI,GUOLIANG,CHEN,NaN,NaN
5771,2016840147,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-04-07,2016-04-08,E,MI,GUOLIANG,CHEN,NaN,NaN

In [29]:
df_2016q2.loc[df_2016q2['Unnamed: 26'].notnull()]

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
214,2016836500,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-03-31,2016-04-01,E,MI,AQUACULTURE BIOSCIENCE TECHNOLOGY,"CO, LTD",GUOLIANG,CHEN

In [30]:
df_2016q2.loc[df_2016q2['Unnamed: 27'].notnull()]

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
214,2016836500,LIVA,LITOPENAEUS,VANNAMEI,NaN,WHITELEG,SHRIMP,LIV,CRS,200.0,...,C,C,2016-03-31,2016-04-01,E,MI,AQUACULTURE BIOSCIENCE TECHNOLOGY,"CO, LTD",GUOLIANG,CHEN

In [32]:
#2017_q1
df_2017q1.loc[df_2017q1['Unnamed: 24'].notnull()]

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Purp,Src,Trans Mode,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,Unnamed: 24
57599,2017123351,PIMX,PINCTADA,MAXIMA,NaN,GOLD-LIP,OYSTER,SPR,MOL,2.0,...,T,C,A,C,C,2017-03-20,2017-03-20,E,MI,BLUE WATER SHIP ESPANA
57600,2017123351,HDIS,HALIOTIS,DISCUS,NaN,DISK,ABALONE,SPR,MOL,2.0,...,T,W,A,C,C,2017-03-20,2017-03-20,E,MI,BLUE WATER SHIP ESPANA

In [36]:
#2019_q3
print(df_2019q3.loc[df_2019q3['FSR First Name'].notnull()].shape)
print(df_2019q3.shape)

(29937, 25)
(126657, 25)

In [37]:
df_2019q3.loc[df_2019q3['FSR First Name'].notnull()]

,Control\nNumber,Species\nCode,Genus,Species,Subspecies,Specific\nName,Generic\nName,Wildlf\nDesc,Wildlf\nCat,Cartons,...,Purp,Src,Trans Mode,Act,Dp\nCd,Disp\nDate,Ship\nDate,I\nE,Pt\nCd,FSR First Name
41,2019569071,NONL,NONCITES ENTRY,NaN,NaN,NaN,CRUSTACEAN,SPE,CRS,1.0,...,S,W,P,C,C,2019-06-21,2019-07-24,E,OR,DR MARCO
62,2019570460,RBRB,URSUS,ARCTOS,NaN,BROWN,BEAR,TRO,MAM,1.0,...,P,W,A,C,C,2019-06-25,2019-07-01,E,NY,PER
63,2019570460,CARI,RANGIFER,TARANDUS,NaN,NaN,REINDEER,TRO,MAM,1.0,...,P,W,A,C,C,2019-06-25,2019-07-01,E,NY,PER
64,2019570875,ALLM,ALLIGATOR,MISSISSIPPIENSIS,NaN,AMERICAN,ALLIGATOR,LPS,REP,1.0,...,T,W,A,C,C,2019-06-25,2019-07-01,E,MI,JULIO
68,2019571138,WDER,ODOCOILEUS,VIRGINIANUS,NaN,WHITE-TAILED,DEER,SKI,MAM,0.0,...,T,W,O,C,C,2019-06-25,2019-07-03,E,NW,TODD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126652,2020754740,DEFU,ANDINOBATES,FULGURITUS,NaN,YELLOW-BELLIED,POISON-ARROW FROG,SPE,AMP,360.0,...,S,W,P,C,C,2020-07-07,2019-08-29,I,TP,EDMUND
126653,2020754740,DEMI,ANDINOBATES,MINUTUS,NaN,BLUE-BELLIED,POISON-ARROW FROG,SPE,AMP,360.0,...,S,W,P,C,C,2020-07-07,2019-08-29,I,TP,EDMUND
126654,2020754740,DEAU,DENDROBATES,AURATUS,NaN,GREEN,POISON-ARROW FROG,SPE,AMP,360.0,...,S,W,P,C,C,2020-07-07,2019-08-29,I,TP,EDMUND
126655,2020754740,DEFU,ANDINOBATES,FULGURITUS,NaN,YELLOW-BELLIED,POISON-ARROW FROG,SPE,AMP,360.0,...,S,W,P,C,C,2020-07-07,2019-08-29,I,TP,EDMUND
126656,2020754740,DEMI,ANDINOBATES,MINUTUS,NaN,BLUE-BELLIED,POISON-ARROW FROG,SPE,AMP,360.0,...,S,W,P,C,C,2020-07-07,2019-08-29,I,TP,EDMUND

In [ ]:
print(df_2019q3.loc[df_2019q3['FSR First Name'].notnull()]

In [38]:
df_key

              field code                                     value
0       description  BAL                                    Baleen
1       description  BAR  Bark (raw, dried, powdered, unprocessed)
2       description  BOC                   Bone product or carving
3       description  BOD                Dead animal (whole animal)
4       description  BON    Bones (including jaws, but not skulls)
..              ...  ...                                       ...
464  transport_mode   OM                               Ocean cargo
465  transport_mode    P             Personal accompanying baggage
466  transport_mode    R                                      Rail
467  transport_mode    T       Truck (or other commercial vehicle)
468  transport_mode    V                          Personal vehicle

[469 rows x 3 columns]